
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  
    
    <title>Portafolio</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/porta.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="main_header_container " id="idmaincontainer">
            <div class="container_header">
                <div class="logo_header"></div>
                <div class="container_nav">
                    <nav>
                        <ul>
                            <li>
                                <a class="">
                                    <i class="bi bi-briefcase-fill"></i>PORTAFOLIO
                                </a>
                            </li>
                            <li>
                                <a href=""><i class="bi bi-info-circle-fill"></i>ACERCA </a>
                            </li>
                            <li>
                                <a href=""> <i class="bi bi-newspaper"></i>PROYECTOS </a>
                            </li>
                            <li>
                                <a href=""> <i class="bi bi-telephone-fill"></i>CONTACTOS </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="container_socialMedia">
                    <a href=""> <i class="bi bi-facebook"></i></a>
                    <a href=""> <i class="bi bi-instagram"></i></a>
                    <a href=""> <i class="bi bi-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <div class="menu_list hidden">
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
        </div>

        <div class="portada_header">
            <div class="title">
                <h1 data-text="ING. LUIS MEDRANO" class="title_name">ING. LUIS MEDRANO</h1>
                <h2>INGENIERO EN SISTEMAS Y COMPUTACIÓN</h2>
                <a href="" class="button_perfil">VER PERFIL</a>
            </div>
            <div class="imageprofile">
                <img src="/imagenes/Luis.Portafolio.png" alt="" />
            </div>
        </div>
        <div class="wavepattern">
            <div class="wave"></div>
        </div>
    </header>
  
    <main>

       
    
        <section class="container_portafolio">
            <div class="div_container_portafolio">
                <h1 class="welcome">CARD SKILLS</h1>
            </div>
            <div class="container_cards">
                <div class="card">
                    <div class="card_imagen"></div>
                    <div class="card_title">
                        <h3>NAME</h3>
                    </div>
                    <div class="card_body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Asperiores, ipsa voluptates nobis obcaecati inventore fuga
                            similique eaque nam officiis impedit voluptate recusandae
                            provident repellat veritatis quia enim aperiam sunt nostrum.
                        </p>
                    </div>
                    <div class="button_card">
                        <a href="">VER MAS</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card_imagen"></div>
                    <div class="card_title">
                        <h3>NAME</h3>
                    </div>
                    <div class="card_body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Asperiores, ipsa voluptates nobis obcaecati inventore fuga
                            similique eaque nam officiis impedit voluptate recusandae
                            provident repellat veritatis quia enim aperiam sunt nostrum.
                        </p>
                    </div>
                    <div class="button_card">
                        <a href="">VER MAS</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card_imagen"></div>
                    <div class="card_title">
                        <h3>NAME</h3>
                    </div>
                    <div class="card_body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Asperiores, ipsa voluptates nobis obcaecati inventore fuga
                            similique eaque nam officiis impedit voluptate recusandae
                            provident repellat veritatis quia enim aperiam sunt nostrum.
                        </p>
                    </div>
                    <div class="button_card">
                        <a href="">VER MAS</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="container_portafolio">
            <h1 class="welcome">Acerca</h1>
        </section>
        <section class="container_portafolio">
            <h1 class="welcome">Proyectos</h1>
        </section>
        <section class="container_portafolio">
            <h1 class="welcome">Contactos</h1>
        </section>
    </main>
    <footer></footer>
   



    <script src="~/js/porta.js"></script>
</body>
</html>




