@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}



<p id="external-login-description" class="text-info">
    Bienvenido @Model.Input.Nombre has iniciado sesion exitosamente con <strong>@Model.ProviderDisplayName</strong>.
    por favor completa los campos vacios debajo
</p>

<div class="row">
    <div class="col-md-6 offset-md-3 col-10 offset-1   bg-white shadow p-5">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Please enter your email."/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
             <div class="form-floating mb-3">
                <input asp-for="Input.Nombre" class="form-control" autocomplete="email" placeholder="Please enter your email."/>
                <label asp-for="Input.Nombre" class="form-label"></label>
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>
             <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="email" placeholder="Please enter your email."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
             <div class="form-floating mb-3">
                <input asp-for="Input.ciudad" class="form-control" autocomplete="email" placeholder="Please enter your email."/>
                <label asp-for="Input.ciudad" class="form-label"></label>
                <span asp-validation-for="Input.ciudad" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Provincia" class="form-control" autocomplete="email" placeholder="Please enter your email." />
                <label asp-for="Input.Provincia" class="form-label"></label>
                <span asp-validation-for="Input.Provincia" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
