<div class="col-8 offset-2 ">
    <br />
    <div class="row d-flex">


        <div class="col-6">
            <button type="submit" class="btn btn-primary form-control"><i class="bi bi-folder-plus"></i> Insertar</button>
        </div>
        <div class="col-6">
            <a asp-action="Index" asp-controller="Equipo" class=" form-control btn btn-outline-secondary"><i class="bi bi-arrow-bar-left"></i> Volver</a>
        </div>

    </div>

</div>

