
@{
    ViewData["Title"] = "Index";
}
@if (TempData["success"] != null)
{
    <div>
        <h2 class="text-danger"> @TempData["success"]</h2>
    </div>
}
<section>
    <div class="row">
        <div class="col-12 col-lg-6 ">
        <a asp-action="upsert" class="btn btn-primary my-5  form-control" asp-controller="Equipo" asp-area="Admin"> <i class="bi bi-cloud-plus-fill iconAdd"></i> <span> Crear Nuevo Equipo</span></a>

          
        </div>
  
    <div class="table-responsive">
        </div>
        <table id="tblEquipos" class="table-striped table"> 
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Orden</th>
                    <th>Accion</th>
                   
                </tr>
            </thead>
        </table>
    </div>
    </div>
</section>


@section scripts{

    <script src="~/js/Equipo.js"></script>
}

