@model Proyecto.models.Models.Equipo
@{
    ViewData["Title"] = "Upsert";
}
<section>
   

    <form class="border shadow py-4" action="Upsert" method="post" enctype="multipart/form-data">
        <div class="row">
            <div asp-validation-summary="ModelOnly" hidden></div>
            <input asp-for="Id" hidden/>
        <div class="col-8 offset-2">
                <br />
            <label  class="form-label" asp-for="Nombre"></label>
                <input class="form-control shadow" asp-for="Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
      
            <div class="col-8 offset-2">
                <br />
                <label class="form-label" asp-for="Orden"></label>
                <input class=" form-control shadow" asp-for="Orden" />
                <span asp-validation-for="Orden" class="text-danger"></span>
        </div >
          
            <div class="col-8 offset-2">
                <br />
                <label class="form-label" asp-for="Imagen"></label>
                <input type="file" name="files" class="form-control shadow" asp-for="Imagen" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
        </div>

            @if (Model.Id != 0)
            {

                <div class="col-8 offset-2 rounded text-center">
                    <br />
                   <img src="@Model.Imagen" class="upsert_img"  />
                </div>
            }
            <br />
          <partial name="_EquipoButtons"/>
        </div>
    
    </form>
</section>

@section scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
}
}

